.MainContent{
     background-image: url(../Assets/reactjs-icon\ 2.png);
     background-repeat: no-repeat;
     background-position: right 80px;
     background-color: rgba(34, 42, 57, 0.976);



}

.Facts > li::marker{
     font-size: 1.6rem;
     color: rgb(35, 157, 201);
}